<header>
  <h1>Rapor Düzenleme</h1>
  <!-- <p>Yeni rapor eklemeden önce kullanıcı oluşturulması gerekmektedir.</p> -->
</header>

<div class="form-container">
  <mat-form-field>
    <input  [disabled]='true' matInput placeholder="Dosya Numarası" type="text" [(ngModel)]="fileId">
    <button mat-button *ngIf="fileId" matSuffix mat-icon-button aria-label="Clear" (click)="fileId=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <!-- <mat-form-field>
    <input matInput placeholder="Tarih:" name='dateUser' [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2">
    <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
    <owl-date-time #dt1 [pickerMode]="'calendar'"></owl-date-time>
  </mat-form-field> -->
  <mat-form-field>
    <input matInput placeholder="Ad Soyad" type="text" [(ngModel)]="name" style="text-transform: capitalize">
    <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input matInput maxlength='11' placeholder="TC Kimlik No" [(ngModel)]="tcNo">
    <button mat-button *ngIf="tcNo" matSuffix mat-icon-button aria-label="Clear" (click)="tcNo=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input matInput maxlength='4' placeholder="Kan Grubu" [(ngModel)]="blood" style='text-transform: uppercase'>
    <button mat-button *ngIf="blood" matSuffix mat-icon-button aria-label="Clear" (click)="blood=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Adres" rows='5' [(ngModel)]="address" style="text-transform: capitalize"></textarea>
    <button mat-button *ngIf="address" matSuffix mat-icon-button aria-label="Clear" (click)="address=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <!-- <div style="text-align: center">
    <button style='width:200px; font-size: 20px' mat-stroked-button color='primary' (click)='addUser()'>Ekle</button>
  </div> -->

</div>

<div>
  <!-- <header>
    <h1 color='primary'>Rapor Düzenleme</h1>
  </header> -->

  <div style="display: flex; justify-content: space-evenly">
    <div *ngFor="let item of [1,2,3]">
      <input style="display: none" type="file" accept="image/png, image/jpeg, image/jpg, image/gif" (change)="onFileChanged($event, item)"
        #fileInput>
      <button style="color: #4CAF50;" mat-stroked-button (click)="fileInput.click()">{{item}}. Fotoğrafı Ekle</button>
    </div>
  </div>
  <!-- <button (click)="onUpload()">Upload!</button> -->
  <div class="form-container">
    <!-- <mat-form-field>
      <input matInput [disabled]='true' placeholder="Dosya No: {{this.reportDetail.fileNo}}">
    </mat-form-field> -->
    <!-- <mat-form-field>
      <input matInput placeholder="Tarih:" name='dateReport' [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2">
      <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
      <owl-date-time #dt1 [pickerMode]="'calendar'"></owl-date-time>
    </mat-form-field> -->
    <mat-form-field>
      <input matInput placeholder="Raporlayan Kişi" [(ngModel)]="reportDetail.reporter">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='number' placeholder="Bazofilik Erit" [(ngModel)]="reportDetail.bazoErit">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='number' placeholder="Bazofilik Seri" [(ngModel)]="reportDetail.bazoSeri">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='number' placeholder="Comak" [(ngModel)]="reportDetail.comak">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='number' placeholder="Eozinofilik Seri" [(ngModel)]="reportDetail.eozino">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='number' placeholder="Lenfosit" [(ngModel)]="reportDetail.lenfosit">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Megakaryositler" [(ngModel)]="reportDetail.megakaryo">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='number' placeholder="Metamyelosit" [(ngModel)]="reportDetail.metam">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='number' placeholder="Monosit" [(ngModel)]="reportDetail.monosit">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='number' placeholder="Myelosit" [(ngModel)]="reportDetail.myelosit">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='number' placeholder="Myloblast" [(ngModel)]="reportDetail.myloblast">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='number' placeholder="Ortokromantofilik Erit" [(ngModel)]="reportDetail.ortokro">
    </mat-form-field>
    <!-- <mat-form-field>
      <input matInput type='number' placeholder="Kan Grubu" [(ngModel)]="reportDetail.bazofili">
    </mat-form-field> -->
    <mat-form-field>
      <input matInput type='number' placeholder="Parçalı" [(ngModel)]="reportDetail.parcali">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='number' placeholder="Plazma Hücresi" [(ngModel)]="reportDetail.plazma">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='number' placeholder="Polikromalofilik Erit" [(ngModel)]="reportDetail.polikro">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='number' placeholder="Proeritroblast " [(ngModel)]="reportDetail.proerit">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='number' placeholder="Promonosit" [(ngModel)]="reportDetail.promonosit">
    </mat-form-field>
    <mat-form-field>
      <input matInput type='number' placeholder="Promyelosit" [(ngModel)]="reportDetail.promyelosit">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Sellulerite" [(ngModel)]="reportDetail.sellul">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Rapor" rows="10" [(ngModel)]="reportDetail.report"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Tanı" [(ngModel)]="reportDetail.tani">
    </mat-form-field>
    <div style="text-align: center">
      <button style='width:200px; font-size: 20px' mat-stroked-button color='primary' (click)='updateData()'>Güncelle</button>
    </div>

  </div>
</div>