.form-container {
    display: flex;
    flex-direction: column;
}

.form-container>* {
    width: 90%;
    font-size: 20px;
    margin-left: 15px;
}

.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
}

.active,
.collapsible:hover {
    background-color: #555;
}