
<div class="inputDiv">
  <input matInput (keyup)="search($event.target.value)" placeholder="Arama yapmak istediğiniz kullanıcı bilgilerini giriniz">
</div>

<table mat-table *ngIf="userList.length == 20" [dataSource]="dataSource" class="mat-elevation-z8" style="margin-top:50px ">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>

    </td>
  </ng-container>
   
  <!-- index Column -->
    <!-- <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef> Sıra </th>
      <td mat-cell *matCellDef="let element; let i=index"> <a routerLink="/detail/{{element.fileId}}">{{i+1}}</a></td>
  
  
    </ng-container> -->
  
 <!-- Date Column -->
 <ng-container matColumnDef="date">
  <th mat-header-cell *matHeaderCellDef> Tarih </th>
  <td mat-cell *matCellDef="let element"> Tarih gelecek </td>


</ng-container>

  <!-- Tc Column -->
  <ng-container matColumnDef="tc">
    <th mat-header-cell *matHeaderCellDef> TC No. </th>
    <td mat-cell *matCellDef="let element"> <a routerLink="/detail/{{element.fileId}}">{{element.tcId}}</a></td>


  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Ad Soyad </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- File Column -->
  <ng-container matColumnDef="fileId">
    <th mat-header-cell *matHeaderCellDef> Dosya No: </th>
    <td mat-cell *matCellDef="let element"> {{element.fileId}} </td>
  </ng-container>

  <!-- Blood Column -->
  <ng-container matColumnDef="blood">
    <th mat-header-cell *matHeaderCellDef> Kan Grubu </th>
    <td mat-cell *matCellDef="let element"> {{element.blood}} </td>
  </ng-container>

  <!-- DisplayButton Column -->
  <ng-container matColumnDef="display">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" routerLink="/detail/{{element.fileId}}"> <a>Görüntüle</a></button> </td>
  </ng-container>

    <!-- EditButton Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><button mat-raised-button color="secondary" routerLink="/detail" (click)="sendCheckList()"> <a>Düzenle</a></button> </td>
    </ng-container>

     <!-- PdfButton Column -->
     <ng-container matColumnDef="pdf">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><button mat-raised-button color="secondary" routerLink="/detail" (click)="sendCheckList()"> <a>Pdf'e Aktar</a></button> </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
  </tr>
</table>
<mat-card *ngIf="isLoading" 
   style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner 
    color="primary" 
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>
<!-- checklistten secili elementleri diger sayfaya taşıyoruz -->
<div style="text-align: center; margin-top: 10px;"><button mat-stroked-button color="warn" style="min-width: 200px" routerLink="/detail" (click)="sendCheckList()"> <a>Tümünü Gör</a></button></div>
