
 a{
   text-decoration: none;
 }
 .topnav {
   overflow: hidden;
    background-color: #e9e9e9;
    height: 110px;
  }
  img{
    float: left;
  }
  h3{
    margin-top: 20px;
    text-align: center;
    display: block;
    color: #58595b;
  }


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}



.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
   .topnav input[type=text],  .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}